module MainCss exposing (..)

import Css exposing (..)
import Css.Elements

{- for instance:

Css.Elements.img
    [ display block
    , margin2 (px 5) auto
    ]
, Css.Elements.div [ textAlign center ]
-}

css : Stylesheet
css =
    stylesheet
        [ 
        ]
